*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');

:root{
    --font-family-primary: 'Mulish', sans-serif;

    --font-size-normal: 18px;

    --font-weight-primary: 400;
    --font-weight-secondary: 700;

    --primary-color: #458FF6;
    --secondary-color: #FFFFFF;
} 
body{
    background-color: #FFFFFF;
    font-family: var(--font-family-primary);
}
                                  /* NAVIGATION */
nav{ 
    margin: 2% 2%;
    display: flex;
}
nav>h1{ 
    padding: 2% 0 0 1%;
    color: #233348;
    font-weight: var(--font-weight-secondary);
    font-family: var(--font-family-primary);
}
.logocont{
    background-image: url(./Images/HERO/backgroungimglogo.svg);  
    background-repeat: no-repeat; 
    width: 41px;
    height: 41px;
    color: #FFFFFF;
    font-size: 24px;
    font-style: normal;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-secondary);
    padding-left: 0.7%;
    margin-left: 12%;
    margin-top: 1.5%;
}
.menu{
    text-align: right;
    height: 70px;
    width: 75%; 
} 
.menu>label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 88px;  
    display: none; 
    width: 26px;
    float: right;
}
#toggle{
    display: none;
}
.clicklinks{
    padding-top: 3.5%;
    margin-right: 5%;
    padding-right: 6%;
} 
.clicklinks>a{
    clear: right;
    margin: 0 20px 0 0;
    text-decoration: none;
    color: #1F1534;
     opacity: 50%; 
    font-size: 18px;
    font-style: normal;
    font-family:var(--font-family-primary)
}
.clicklinks>a:hover{
    background-color: black;
    color: #FFFFFF;   
}
                                      /* HERO HEADER */                                      
 header{ 
    display: flex;
} 
.heroelement{
    margin-top: 2%;
}

.herocontent{
    padding-top: 12%;
     width: 30%;
    line-height: 56px;
    margin-left: 7%;
}
.herocontent>button>a{
    text-decoration: none;
    color: #FFFFFF;
}
.herocontent>h1{
    font-size: 44px;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-secondary);
    font-style: normal;
    margin-bottom: 5%;
    line-height: 47px; 
}
.herocontent>p{
    font-weight: 300;
    font-family: var(--font-family-primary);
    font-style: normal;
    font-size: 20px;
    line-height: 32px; 
    margin-bottom: 9%;
}
.herocontent>button{
    background-color: var(--primary-color);
    width: 180px;
    height: 40px;
    font-family: var(--font-family-primary);
    color: var(--secondary-color);
    font-style: normal;
    font-size: 18px;
    font-weight: var(--font-weight-secondary);
    border-radius: 55px;
    border: none;
}
.herocontent>button:hover{
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
}
.heroimg{
    width: 40%;
    height: 29%;
    margin-left: 7%;
    padding-top: 5%;
}
.heroimg>img{
    height: 100%;
    width: 100%;
}
                                     /* SUB HEADER  */
.subheader{ 
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%;
}
.subheader>h2{
    font-size: 36px;
    font-weight: var(--font-weight-secondary);
    font-family: var(--font-family-primary);
    font-style: normal;
    color: black;
}
.subheader>hr{
    margin: 2% 48%;
    height: 3px;
    border-radius: 5px;
    background-color: black;
}
.subheader>p{
    margin: 0% 20%;
    font-weight: 300;
    font-family: var(--font-family-primary);
    line-height: 30px;
    color: #7D7987;
}
                               /* SECTION 1 */
.section1{
    background-image: url(./Images/SEC1/linergradientbackgroud1s1.svg);
    width: 100%;
    background-repeat: no-repeat;
} 

.pre1sec{
    background-image: url(./Images/SEC1/element1s1.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 43%;
}

.subsec1{
    display: flex;
    margin: 0% 13%;
     gap: 3%; 
}  
.subsec1>div{
    width: 350px;
    height: 354px;
    background-color: #FFFFFF; 
    padding-top: 6%; 
    margin-top: 5%;
    padding-left: 2%; 
    border-radius: 20px;
    box-shadow: 10px 50px 40px 0px rgba(229, 233, 246, 0.4);
}
.search>img{
    margin-bottom: 5%;
} 
.search>h4{
    font-size: 24px;
    font-family: var(--font-family-primary);
    font-style: normal;
    color: #000000;
    font-weight: var(--font-weight-secondary);
    line-height: 54px;
} 
.search>p{
    color: #7D7987;
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
} 
.online>img{
    margin-bottom: 5%;
}
.online>h4{
    font-size: 24px;
    font-family: var(--font-family-primary);
    font-style: normal;
    color: #000000;
    font-weight: var(--font-weight-secondary);
    line-height: 54px; 
} 
.online>p{
    color: #7D7987;
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}
.consult :nth-child(1){
    margin-bottom: 1%;
} 
.consult>img{
    position: relative;
    bottom: 10px;
}
.consult>h4{
    font-size: 24px;
    font-family: var(--font-family-primary);
    font-style: normal;
    color: #000000;
    font-weight: var(--font-weight-secondary);
    line-height: 54px;
} 
.consult>p{
    color: #7D7987;
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
} 
.consult :nth-child(4){
    padding-left: 71%; 
    padding-top: 5%;
}
                                  /* SUBSEC 12 */
.subsec12{
    display: flex;
    margin: 2.5% 13%;
    gap: 3%;
} 
.subsec12>div{
    background-color: #FFFFFF;
    width: 350px;
    height: 354px;
    padding-left: 2%;
    border-radius: 20px; 
    padding-top: 7%;
    padding-left: 2%;
    justify-content: space-between;
    box-shadow: 10px 50px 40px 0px rgba(229, 233, 246, 0.4);
    transition: 1s;
}
.subsec12>div:hover{
    transform: scale(1.2)
}
.data>img{
    position: relative;
    bottom: 30px;
}
.data>h4{
    font-size: 24px;
    font-family: var(--font-family-primary);
    font-style: normal;
    color: #000000;
    font-weight: var(--font-weight-secondary);
    line-height: 54px;
} 
.data>p{
    color: #7D7987;
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
} 
.gencare>img{
    position: relative;
    bottom: 20px;
}
.gencare>h4{
    font-size: 24px;
    font-family: var(--font-family-primary);
    font-style: normal;
    color: #000000;
    font-weight: var(--font-weight-secondary);
    line-height: 54px;
    padding-top: 7%;
}
.gencare>p{
    color: #7D7987;
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
} 
.trak>img{
    position: relative;
    bottom: 20px;
}   
.trak>h4{
    font-size: 24px;
    font-family: var(--font-family-primary);
    font-style: normal;
    color: #000000;
    font-weight: var(--font-weight-secondary);
    line-height: 54px;
}
.trak>p{
    color: #7D7987;
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}
.subsec12butt{
    text-align: center;
    margin-bottom: 10%;
    margin-top: 5%;
}
.subsec12butt>button{
    background-color: #E5E5E5;
    color: #458FF6;
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--font-weight-secondary);
    line-height: 30px;
    border-radius: 20px;
    border:2px solid #458FF6;
    width: 10%;
}
.subsec12butt>button>a{
    text-decoration: none;
    color: #458FF6;
}
.subsec12butt>button:hover{
    background-color: #FFFFFF;
    color: #000000;
    border-color: #000000;
}
                                     /* SECTION 2 */
.section2{ 
    display: flex;
    gap: 7%;
}
.sec2imgcont{
    height: 477px;
    width: 650px;
    margin-left: 6%;
}
.sec2imgcont>img{
    width: 100%;
    height: 100%;
}
.sec2content{
    width: 40%;
    padding-top: 7%;
    margin-right: 12%;
}
.sec2content>h3{
    font-family: var(--font-family-primary);
    font-size: 36px;
    font-style: normal;
    font-weight: var(--font-weight-secondary);
    line-height: 36px;
    margin-bottom: 5%;
}
.sec2content>hr{
    width: 42px;
    margin-bottom: 5%;
    height: 2px;
    border-radius: 10px;
    background-color: #000000;
    border: none;
}
.sec2content>p{
    font-family:var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    color: #7D7987;
    margin-bottom: 5%;
}
.sec2content>button{
    height: 35px;
    width: 120px;
    border-radius: 55px;
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--font-weight-secondary);
    background-color: #E5E5E5;
    color: #458FF6;
    border: 1px solid #458FF6; 
}
.sec2content>button>a{
    text-decoration: none;
    color: #458FF6;
}
.sec2content>button:hover{
    background-color: #FFFFFF;
    color: #000000;
    border-color: #000000;
} 
.subsec21{
    text-align: right;
}
                                        /*  SECTION 3 */
.section3{
    display: flex;
    gap: 5%;
}
.subsec31{
    width: 40%;
    margin-left: 14%;
    padding-top: 5%;
}
.subsec31>h3{
    font-size: 36px;
    font-style: normal;
    font-weight: var(--font-weight-secondary);
    line-height: 45px;
    color: #000000;
    margin-bottom: 5%;
}
.subsec31>hr{
    height: 2px;
    width: 56px;
    border-radius: 6px;
    border: none;
    background-color: #000000;
    margin-bottom: 5%;
}
.subsec31>p{
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    color: #7D7987;
    margin-bottom: 5%;
}
.subsec31>button{
    height: 35px;
    width: 120px;
    border-radius: 55px;
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--font-weight-secondary);
    background-color: #E5E5E5;
    color: #458FF6;
    border: 1px solid #458FF6;
}
.subsec32{
    height: 434px;
    width: 665px;
    margin-right: 10%;
}
.subsec32>img{
    height: 100%;
    width: 100%;
} 
                                             /*  SECTION 4 */
.section4{
    position: relative;
    background-image: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    background-repeat: no-repeat;
    height: 70vh;
    width: 80%;
    margin-left: 10%;
    margin-top: 14%;
    border-radius: 24px;
}
.presec4{
    position: relative; 
}
.prosec404{
    background-image: url(./Images/SEC1/elements2s4.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 180px;
    position: absolute;
    bottom: -30px;
    left: 90px;
}
.undertext{
    position: absolute;
    left: 350px;
    top: 82px;
} 
.undertext>h3{
    text-align: center;
    font-size: 33px;
    font-style: normal;
    font-weight: var(--font-family-primary);
    color: #FFFFFF;
}
.undertext>hr{
    background: #FFFFFF;
    width: 3.5em;
    height: 2px;
    margin: 3% auto;
    border: none;
    border-radius: 6px;
}
 #firstele{
    position: absolute;
    right: -50px;
    top: -17px;
} 
.subsec4{
    display: flex;
}
.subsec4img{
    padding-left: 17%;
}
.subsec4>div{
    width: 20em;
    margin-top: 13em;
}
.subsec041{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    gap: 6%;
}
.arrows>img{
    margin: 6px; 
} 
.ednew{
    padding-left: 4%;
    padding-top: 3%;
}
.ednew>h5{
    color: #FFFFFF;
    font-family: var(--font-family-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.ednew>p{
    color: #FFFFFF;
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.dedour>p{
    color: #FFFFFF;
    font-family: var(--font-family-primary);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.subsec042{
    text-align: center;
    margin-top: 10%;
}
.subsec042>h2{
    font-family: var(--font-family-primary);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    color: #000000;
}
.subsec042>hr{
    height: 2px;
    width: 56px;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    margin: 0% auto;
    margin-top: 1.5%; 

}
                                /* SECTION 5 */
.subsec05{
    background-image: url(./Images/SEC1/element1s5.svg);
    background-repeat: no-repeat;
    background-position-x: 115px; 
    background-position-y: 50px; 
    height: 85vh;
}
.section05{
    background-image: url(./Images/SEC1/background1s5.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 7%;

}
.imgcont{
    display: flex;
    width: 100%; 
    justify-content: center;
    gap: 2%;
}
.imgcont>div{
    width: 24%;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
.imgcont>div>img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100%;
}
.txtcont{
    display: flex;
    justify-content: center;
    gap: 2%;
}
.txtcont>div{
    width:24%;
    padding-left: 0%;
    background-color: #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);;
}
.disdec{
    width: 90%;
    padding-left: 10%;
    margin-top: 8%;
}
.disdec>h5{
    font-family: var(--font-family-primary);
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    margin-bottom: 3%;
}
.disdec>p{
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    color:#7D7987;
    margin-bottom: 8%;
}
.disdec>button{
    font-family: var(--font-family-primary);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: #4089ED;
    border: none;
    background-color: #FFFFFF;
    margin-bottom: 8%;
}
.herbmed{
    width: 90%;
    padding-left: 10%;
    margin-top: 8%;
}
.herbmed>h5{
    font-family: var(--font-family-primary);
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    margin-bottom: 3%;
}
.herbmed>p{
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    color:#7D7987;
    margin-bottom: 8%;
}
.herbmed>button{
    font-family: var(--font-family-primary);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: #4089ED;
    border: none;
    background-color: #FFFFFF;
    margin-bottom: 8%;
}
.natcare{
    width: 90%;
    padding-left: 10%;
    margin-top: 8%;
}
.natcare>h5{
    font-family: var(--font-family-primary);
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    margin-bottom: 3%;
}
.natcare>p{
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    color:#7D7987;
    margin-bottom: 8%;
}
.natcare>button{
    font-family: var(--font-family-primary);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: #4089ED;
    border: none;
    background-color: #FFFFFF;
    margin-bottom: 8%;
}
.subsec115{
    text-align: center;
    margin-bottom: 7%;
}
.subsec115>button{
    background-color: #E5E5E5;
    color: #458FF6;
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--font-weight-secondary);
    line-height: 30px;
    border-radius: 20px;
    border:2px solid #458FF6;
    width: 15%;
    margin-top: 10%;
    margin-bottom: 1.5%;
}
.subsec115>button:hover{
    background-color: #FFFFFF;
    color: #000000;
    border-color: #000000;
}
                                         /* SECTION 6 */
.prelastsec{
    background-image: url(./Images/SEC1/element1s6.svg);
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 93%;
}                                         
.lastsec{
    background-image: url(./Images/SEC1/bg1s6.svg);
    background-repeat: no-repeat;
}
.lastsec016{
    display: flex;
    margin: 0% 13% 0% 13%;
    height: 50vh;
    padding-top: 8%; 
}
.lastsec016>div{
    width: 20%;
}
.lastsec016 :nth-child(1){
    width: 40%;
}
.sublastsec06> :nth-child(2){
    color: #FFFFFF;
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 7%;
}
.sublastsec06> :nth-child(3){
    color: #FFFFFF;
    font-family: var(--font-family-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}
.lastsec036{
    background-image: url(./Images/SEC1/Ellipse1s6.svg);
    background-repeat: no-repeat;
    display: flex;
    height: 41px;
    width: 41px;
    position: 45px;
    margin-bottom: 4%;
    margin-top: 3%;
}
.lastsec036>h4{
    padding-left: 6%;
    padding-top: 3%;
    color: #5B9BF3;
    font-family: var(--font-family-primary);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
} 

.lastsec036>h5{
    font-family: var(--font-family-primary);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 5%;
}
.companycont{
    padding-left: 5%;
}
.helpcont{
    padding-left: 3%;
}
.regioncont{
    padding-left: 4%;
}
.companycont>h6{
    color: #FFFFFF;
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
.companycont>p{
    color: #FFFFFF;
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
}
.regioncont>h6{
    color: #FFFFFF;
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
.regioncont>p{
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
    font-family: var(--font-family-primary);
}
.helpcont>h6{
    color: #FFFFFF;
    font-family: var();
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
.helpcont>p{
    color: #FFFFFF;
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
}
                                            /* RESPONSIVE DESIGN */

@media (max-width: 1024px){
    .subsec12butt>button{
        width: 150px;
        /* line-height: 20px; */
        height: 40px;
    }
    .undertext>h3{
        position: relative;
        right: 140px;
    }
    .undertext>hr{
        position: relative;
        right: 140px;
    }
    .lastsec036>h5{
        padding-left: 20%;
    }
}
 @media (max-width: 768px){
    .logocont{
        width: 60px;
        margin-top: 3%;
    }
    .logocont>h2{
        margin-left: 6%;
    }
    nav>h1{
        margin-top: 1.5%;
        
    }
    .menu>label{
        display: block;
        cursor: pointer;
    }
    #toggle:checked + .clicklinks{ 
        display: block;
    }
    .clicklinks{
        text-align: center;
        width: 100%;
        display: none;
    }
    .clicklinks>a{
        display: block;
        border-bottom: 1px solid #1F1534 ;
        margin: 0;
        line-height: 70px;
    }
    .heroelement{
        margin-top: 15%;
        position: relative;
        top: 50px;
    }
    .herocontent>h1{
        font-size: 30px;
        line-height: 33px;
    }
    .herocontent>p{
        font-size: 18px;
        position: relative;
        top: 7px;
        line-height: 25px;
    }
    .heroimg{ 
        width: 70%; 
        position: relative;
        top: 20px;
    }
    .herocontent>button{
        width: 120px;
        font-size: 15px;
        height: 30px;
        position: relative;
    }
    .search>img{
        position: relative;
        left: 10px;
    }
    .search>h4{ 
        font-size: 20px;
        padding-top: 8%; 
    }
    .search>p{ 
        font-size: 16px;
    }
    .online>img{
        position: relative;
        top: 8px;
        left: 10px;
    }
    .online>h4{
        line-height: 30px;
        padding-top: 19%;
        font-size: 20px;
        padding-bottom: 8%;
    }
    .online>p{
        font-size: 16px;
    }
    .online>p>br{
        display: none;
    }
    .consult>img{
        position: relative;
        top: 9px;
        left: 10px;
    }
    .consult>h4{
        padding-top: 10%;
        font-size: 20px;
    }
    .consult>p{
        font-size: 16px;
    }
    .data>img{
        position: relative;
        top: 5px;
        left: 10px;
    }
    .data>h4{
        padding-top: 10%;
        font-size: 20px;
    }
    .data>p{
        font-size: 16px;
    }
    .gencare>img{
        position: relative;
        top: 10px;
        left: 10px;
    }
    .gencare>h4{
        padding-top: 18%;
        font-size: 20px;
    }
    .gencare>p{
        font-size: 16px;
    }
    .trak>img{
        position: relative;
        top: 10px;
        left: 10px;
    }
    .trak>h4{
        padding-top: 13%;
        font-size: 20px;
    }
    .trak>p{
        font-size: 16px;
    }
    .subsec12butt>button{ 
        width: 100px;
        font-size: 14px;
        height: 40px;
        margin-top: 7%;
    }
    .sec2imgcont{ 
        width: 130%;
        position: relative;
        bottom: 77px;
    }
    .sec2content{
        width: 100%;
        text-align: center;
        position: relative;
        bottom: 50px;
    }
    .sec2content>h3{
        font-size: 30px;
    }
    .sec2content>hr{
        margin: 0 auto;
    }
    .sec2content>p{
        font-size: 17px;
        margin-top: 3%;
    }
    .subsec21{
        position: relative;
        bottom: 140px;
    }
    .section3{ 
        position: relative;
        text-align: center;
    }
    .section3>div{
        width: 100%;
        padding: 0%;
        margin: 0%;
    }
    .subsec31{
        position: relative;
        bottom: 130px;
    }
    .subsec31>h3{
        font-size: 30px;
        line-height: 35px;
    }
    .subsec31>hr{
        margin: 0 auto;
        margin-bottom: 2%;
    }
    .subsec31>p{
        font-size: 17px;
    }
    .subsec32{
        position: relative;
        bottom: 190px;
        width: 130%;
    }
    .presec4{ 
        display: none;
    }
    .subsec041{
        display: none;
    } 
    .subsec042{
        position: relative;
        bottom: 1300px;
    }
    .subsec042>h2{
        font-size: 30px;
    } 
    .subsec05{ 
        position: relative;
        bottom: 300px;
        height: 90vh;
    }
    .subsec115{
        position: relative;
        bottom: 320px;
    }
    .subsec115>button{
        width: 100px;
    }
    .prelastsec{ 
        position: relative;
        bottom: 350px;
    }
    .lastsec{ 
        position: relative;
        bottom: 348px;
    }
    body{
        height: 1200px;
    }
}

@media only screen and (max-width: 425px) {
    .logocont{
        width: 60px;
        margin-top: 5%;
    }
    body{
        height: 1200px;
    }
    header{
        display: block;
    }
    nav>h1{
        margin-top: 5%;
    }
    .logocont>h2{
        margin-left: 14%;
    }
    .menu>label{
        display: block;
        cursor: pointer;
    }
    .clicklinks{
        text-align: center;
        width: 100%;
        display: none;
    }
    .clicklinks>a{
        display: block;
        border-bottom: 1px solid #1F1534 ;
        margin: 0;
        line-height: 70px;
    }
    #toggle:checked + .clicklinks{ 
        display: block;
    }
    .heroelement{
        margin-top: 15%;
        position: relative;
        top: 50px;
    }
    .herocontent{
        width: 65%;
        position: relative;
        bottom: 170px;
        left: 90px;
    }
    .herocontent>h1{
        font-size: 30px;
        line-height: 35px;
    }
    .herocontent>p{
        font-size: 18px;
        position: relative;
        bottom: 8px;
        line-height: 25px;
    }
    .herocontent>button{
        width: 120px;
        font-size: 15px;
        height: 30px;
        position: relative;
        bottom: 25px;
    }
    .heroimg{
        width: 80%;
        height: 70%;
        position: relative;
        bottom: 180px;
    }
    .subheader{
        margin: 0%;
        position: relative;
        bottom: 120px;
    }
    .section1{
        background-position: contain;
    }
    .subsec1{
        display: block;
    }
    .subsec1>div{
        gap: 0;
        width: 60%;
    }
    .search{
        position: relative;
        right: 40px;
    }
    .search>img{
        position: relative;
        top: 20px;
        left: 20px;
    }
    .search>h4{
        font-size: 20px;
        padding-top: 12%;
    }
    .search>p{
        font-size: 16px;
    }
    .search>p>br{
        display: none;
    }
    .online{
        position: relative;
        bottom: 370px;
        left: 165px;
    }
    .online>img{
        position: relative;
        top: 18px;
        left: 20px;
    }
    .online>h4{
        line-height: 30px;
        padding-top: 19%;
        font-size: 20px;
        padding-bottom: 8%;
    }
    .online>p{
        font-size: 16px;
    }
    .online>p>br{
        display: none;
    }
    .consult{
        position: relative;
        bottom: 370px;
        left: 165px;
    }
    .consult>img{
        position: relative;
        top: 18px;
        left: 20px;
    }
    .consult>h4{
        padding-top: 14%;
        font-size: 20px;
    }
    .consult>p{
        font-size: 16px;
        padding-top: 0%;
    }
    .consult>p>br{
        display: none;
    }
    .subsec12{
        display: block;
    }
    .subsec12>div{
        width: 60%;
        gap: 0%;
    }
    .data{
        position: relative;
        bottom: 734px;
        right: 40px; 
    }
    .data>img{
        position: relative;
        top: 18px;
        left: 20px;
    }
    .data>h4{
        padding-top: 17%;
        font-size: 20px;
    }
    .data>p{
        font-size: 16px;
    }
    .data>p>br{
        display: none;
    }
    .gencare{
        position: relative;
        bottom: 720px;
        right: 40px; 
    }
    .gencare>img{
        position: relative;
        top: 18px;
        left: 20px;
    }
    .gencare>h4{
        padding-top: 25%;
        font-size: 20px;
    }
    .gencare>p{
        font-size: 16px;
    }
    .gencare>p>br{
        display: none;
    }
    .trak{
        position: relative;
        bottom: 1072px;
        left: 165px; 
    }
    .trak>img{
        position: relative;
        top: 18px;
        left: 20px;
    }
    .trak>h4{
        padding-top: 13%;
        font-size: 20px;
    }
    .trak>p{
        font-size: 16px;
    }
    .trak>p>br{
        display: none;
    }
    .pre1sec{
        background-image: none;
    }
    .subsec12butt>button{
        position: relative;
        bottom: 1050px;
        width: 100px;
        font-size: 14px;
        height: 40px;
    }
    .section2{
        position: relative;
        bottom: 1150px;
        display: block;
    }
    .sec2imgcont{
        width: 85%;
    }
    .sec2content{
        width: 100%;
        text-align: center;
        position: relative;
        bottom: 50px;
    }
    .sec2content>h3{
        font-size: 30px;
    }
    .sec2content>hr{
        margin: 0 auto;
    }
    .sec2content>p{
        font-size: 17px;
        margin-top: 3%;
    }
    .subsec21{
        position: relative;
        bottom: 1180px;
    }
    .section3{
        position: relative;
        bottom: 1200px;
        display: block;
        text-align: center;
    }
    .section3>div{
        width: 100%;
        padding: 0%;
        margin: 0%;
    }
    .subsec31>h3{
        font-size: 30px;
        line-height: 35px;
    }
    .subsec31>hr{
        margin: 0 auto;
        margin-bottom: 2%;
    }
    .subsec31>p{
        font-size: 17px;
    }
    .subsec32{
        position: relative;
        bottom: 30px;
    }
    .presec4{
        display: none;
    }
    .subsec041{
        display: none;
    } 
    .subsec042{
        position: relative;
        bottom: 1300px;
    }
    .subsec042>h2{
        font-size: 30px;
    } 
    .subsec05{
        position: relative;
        bottom: 1285px;
        height: 85vh;
    }
    .imgcont>div{
        width: 32%;
    }
    .txtcont>div{
        width: 32%;
    }
    .disdec>h5{
        font-size: 19px;
        line-height: 22px;
    }
    .disdec>p{
        font-size: 14px;
    }
    .herbmed>h5{
        font-size: 19px;
        line-height: 22px;
    }
    .herbmed>p{
        font-size: 14px;
    }
    .natcare>h5{
        font-size: 19px;
        line-height: 22px;
    }
    .natcare>p{
        font-size: 14px;
        padding-top: 10%;
    }
    .natcare>button{
        padding-top: 6%;
    }
    .subsec115{
        position: relative;
        bottom: 1300px;
    }
    .subsec115>button{
        width: 100px;
    }
    .prelastsec{
        position: relative;
        bottom: 1280px;
    }
    .lastsec{
        position: relative;
        bottom: 1280px;
    }
    .lastsec016{
        width: 100%;
        margin: 0;
        padding: 0;
    } 
    .lastsec036{
        background-image: none;
        background-image: url(./Ellipse9.png);
        background-position-x: 15px;
        background-position-y: 20px;
    }
    .lastsec036>h4{
        background-size: contain;
        font-size: 16px;
        position: relative;
        top: 22px;
        left: 15px;
    }
    .lastsec036>h5{
        position: relative;
        left: 25px;
        top: 20px;
    }
    .lastsec036>h5{
        font-size: 18px;
    }
    .sublastsec06> :nth-child(2){
        color: #FFFFFF;
        font-size: 13px;
        position: relative;
        top: 15px;
    }
    .sublastsec06> :nth-child(3){
        color: #FFFFFF;
        font-size: 13px;
        position: relative;
        top: 22px;
    }
    .companycont>h6{
        position: relative;
        right: 29px;
        font-size: 18px;
        top: 10px;
    }
    .companycont>p{
        font-size: 14px;
        position: relative;
        right: 17px;
    }
    .regioncont>h6{
        font-size: 18px;
        position: relative;
        right: 10px;
        top: 10px;
    }
    .regioncont>p{
        font-size: 14px;
        position: relative;
        right: 12px;
    }
    .helpcont>h6{
        font-size: 18px;
        position: relative;
        right: 12px;
        top: 10px;
    }
    .helpcont>p{
        font-size: 13px;
        position: relative;
        right: 12px;
    }
}

@media (max-width: 375px){
    .heroimg{
        position: relative;
        top: -170px;
    }
    .subheader{
        position: relative;
        /* bottom: 420px; */
    }
    .pre1sec{
        position: relative;
        bottom: 80px;
    }
    .subsec12butt{
        position: relative;
        bottom: 10px;
    }
    .sec2imgcont{
        position: relative;
        bottom: 80px;
    }
    .sec2content{
        position: relative;
        top: -160px;
    }
    .subsec21{
    }    
    .subsec31{
        position: relative;
        top: -145px;
    }
    .subsec32{
        position: relative;
        top:-170px; 
    }
    .subsec042{
    }
    .subsec042>h2{
        line-height: 32px;
    }
    .subsec115{
    }
    body{
        height: 1200px;
    }
}
