*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
:root{
    --font-family-primary: 'Roboto', sans-serif;
}
body{
    background-image: linear-gradient(89.36deg, rgba(6, 30, 247, 0.57) 0.51%, rgba(118, 128, 216, 0.88) 99.43%);
}
.subbody{
    margin: 6% 5% 5% 5%;
    /* border: 2px solid red; */
    display: flex;
}
.secbody01{ 
    background-color: #5B9BF3;
    width: 50%; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.secbody01>h1{
    font-family: var(--font-family-primary);
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    color: #FFFFFF;
    margin-top: 20%;
    padding-left: 5%;
}
.secbody01>p{
    font-family: var(--font-family-primary);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 30px; */
    color: #FFFFFF;
    padding-left: 5%;
    margin-top: 1%;
}
.subsecbody001{
    height: 434px;
    width: 585px;
    /* background-color: #233348; */
    margin-top: 11%;
    margin-bottom: 11%;
}
.subsecbody001>img{
    width: 100%;
    height: 100%;
    left: -14px;
    top: 456px;
}
.getstart{
    background-color: #FFFFFF;
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
}
.substart{
    text-align: center;
    margin-top: 10%;
}
.substart>h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
     line-height: 85px; 
    color: #000000;
}
span{
    color: green;
}
.substart>p{
    font-family: var(--font-family-primary);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: #000000;
}
.signuplinks{
    display: flex;
    margin-top: 7%;
    margin-bottom: 7%;
    gap: 15px;
    justify-content: center;
}
.signuplinks>div{
    display: flex; 
    border: 1px solid #E0DADA;
    height: 50px;
    width: 43%;
    border-radius: 10px;
}
.signuplinks>div>p{
    color: #000000;
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-left: 24%;
    padding-top: 6%;
    /* line-height: 28px; */
}
.subsignuplinks01>p{ 
    background-image: url(./Images/SEC2/Google\ sign\ up.svg);
    background-repeat: no-repeat;
    background-position: -9px;
}
.subsignuplinks02>p{
    background-image: url(./Images/SEC2/Facebook\ sign\ up.svg);
    background-repeat: no-repeat;
    background-position: -9px;
}
.lineor{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 5%;
}
.lineor>p{
    font-family: var(--font-family-primary);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
}

form{
    text-align: center;
}
form>h1{
    color: #000000;
    font-family: var(--font-family-primary);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 1%;
    text-align: start;
    position: relative;
    left: 110px;
}
.inputbox{
    height: 58px;
    width: 400px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(253, 253, 253, 0.5);
    margin-bottom: 2%;
    padding-left: 4%;
}
.buttcont{
    margin-top: 5%; 
    text-align: center;
    width: 400px;
    height: 58px;
    background: #5B9BF3;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-family: var(--font-family-primary);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
}

                                            /* RESPONSIVE DESIGN */
@media (max-width: 1024px){
    .subbody{
        margin: 8% 7% 8% 7%;
    }
    .sebody01>h1{
        font-size: 50px;
    }
    .secbody01>p{
        position: relative;
        top: 30px;
    }
    .subsecbody001{
        width: 100%;
    }
    .substart>h1{
        font-size: 50px;
    }
    .signuplinks>div>p{
        font-size: 15px;
    }
    .signuplinks>div{
        width: 200px;
    }
    .subsignuplinks02>p{
        background-position: -20px;
    }
    form>h1{
        margin-top: 5%;
    }
    button{
        position: relative;
        top: 20px;
    }
}
@media (max-width: 768px) {
    .secbody01>h1{
        font-size: 50px;
        line-height: 50px;
    }
    .subsecbody001{
        position: relative;
        bottom: 40px;
    }
    .lineor>img{
        width: 30%;
    }
    .inputbox{
        width: 80%;
        height: 40px;
    }
    .buttcont{
        width: 80%;
        height: 40px;
        font-size: 20px;
    }
    form>h1{
        font-size: 16px;
        margin: 0;
    }
    .substart>p{
        font-size: 17px;
    }
}